[[source]]
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
graphene = "*"
graphene-django = "*"
django-cors-headers = "*"
mysqlclient = "*"

[dev-packages]

[requires]
python_version = "3.6"
